.menu-left{
    float: left;
    width: 30%;
    background-color: #f5f5f5;
    color: #333;
}
.menu-right{
    float: left;
    width: 70%;
}
.head{
    background-color: #222f3c;
    padding: 15px;
}
.prj{
    color: #fff;
    font-size: 48px;
}
.welcom{
    color: #3398c4;
}
.menu{
    background-color: #293847;
}
.menu nav ul li:hover{
    color: orange;
}
.name-item{
    color: #3398c4;
}
.content-item{
    font-weight: bold;
    color: #3398c4;
}
.price-item{
    font-weight: bold;
    color: #b12d18;
}
.border-item{
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
}
.border-item img{
    margin-top: 5px;
}
.page{
    margin: 5em 0px 0px;
}
.footer{
    background-color: #222f3c;
    text-align: center;
    color: #f6b94f;
    padding: 5em 0px 3em 0px;
    line-height: 30px;
}